<div class="form-group" id="login-form">

  <div class="login-form-list form-horizontal">

    <div class="form-group">
      <label class="control-label  col-sm-3" class="control-label  col-sm-2" for="UserEmail">Ваш email*:</label>
      <div class="col-sm-9 form-element-group">
        <input type="email" id='UserEmail' name='UserEmail' class="form-control">
        <span class="help-block"></span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label  col-sm-3" class="control-label  col-sm-2" for="FirstName">Ім’я*:</label>
      <div class="col-sm-9 form-element-group">
        <input type="text" id='FirstName' name='FirstName' class="form-control">
        <span class="help-block"></span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label  col-sm-3" class="control-label  col-sm-2" for="MiddleName">По-батькові*:</label>
      <div class="col-sm-9 form-element-group">
        <input type="text" id='MiddleName' name='MiddleName' class="form-control">
        <span class="help-block"></span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label  col-sm-3" class="control-label  col-sm-2" for="LastName">Прізвище*:</label>
      <div class="col-sm-9 form-element-group">
        <input type="text" id='LastName' name='LastName' class="form-control">
        <span class="help-block"></span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label  col-sm-3" for="Region">Область*:</label>
      <div class="col-sm-9 form-element-group">
        <input type="text" id='Region' name='Region' class="form-control">
        <span class="help-block"></span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label  col-sm-3" for="Country">Країна*:</label>
      <div class="col-sm-9 form-element-group">
        <input type="text" id='Country' name='Country' class="form-control">
        <span class="help-block"></span>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label  col-sm-3" class="control-label  col-sm-2" for="Password">Ваш пароль:</label>
      <div class="col-sm-9 form-element-group">
        <input type='password' id='Password' name='Password' class="form-control">
        <span class="help-block"></span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label  col-sm-3" class="control-label  col-sm-2" for="ConfirmPassword">Повторіть Ваш пароль:</label>
      <div class="col-sm-9 form-element-group">
        <input type='password' id='ConfirmPassword' name='ConfirmPassword' class="form-control">
        <span class="help-block"></span>
      </div>
    </div>

    <div id='signUpStatus' class="form-group hidden">
      <label class="control-label  col-sm-3" class="control-label  col-sm-2"></label>
      <div class="col-sm-9 form-element-group">
        <span class="help-block"></span>
      </div>
    </div>

    <div class="form-group form-element-group">
      <label for="privacyConfirm" class="col-sm-10 control-label">
        Я підтверджую свою <a href="/privacy-agreement/" target="_blank">згоду</a> на використання персональних даних
        <span class="help-block"></span>
      </label>
      <div class="col-sm-2">
        <input type="checkbox" name="privacyConfirm" value="true" checked="checked" id="privacyConfirm" class="form-control" />
      </div>
    </div>

    <div class="form-group">
      <div id='captcha'></div>
      <span class="help-block"></span>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <input type='button' class="btn" id='register' value='Зареєструватись'>
      </div>
    </div>


  </div>

</div>


