<div class="form-group" id="login-form">

	<div class="login-form-list form-horizontal">
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<input type='button' class="btn" id='fb-login' value='Увійти FB' >
			</div>
		</div>
	</div>


	<div class="login-form-list form-horizontal">

		<div class="form-group">
			 <label class="control-label  col-sm-3" class="control-label  col-sm-2" for="email">Ваш email:</label>
			<div class="col-sm-9 form-element-group">
				<input id='email' name='email' class="form-control">
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group">
			 <label class="control-label  col-sm-3" class="control-label  col-sm-2" for="pwd">Ваш пароль:</label>
			<div class="col-sm-9 form-element-group">
				<input id='pwd' name='pwd' class="form-control">
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<input type='button' class="btn" id='login' value='Увійти' disabled>
			</div>
		</div>

	</div>

</div>


