<div class="form-group" id="login-form">


  <div class="login-form-list form-horizontal">

    <div class="form-group">
      <label class="control-label  col-sm-3" class="control-label  col-sm-2" for="UserEmail">Ваш email:</label>
      <div class="col-sm-9 form-element-group">
        <input type='email' id='UserEmail' name='UserEmail' class="form-control">
        <span class="help-block"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label  col-sm-3" class="control-label  col-sm-2" for="Password">Ваш пароль:</label>
      <div class="col-sm-9 form-element-group">
        <input type='password' id='Password' name='Password' class="form-control">
        <span class="help-block"></span>
      </div>
    </div>

    <div id='LogInStatus' class="form-group hidden">
      <label class="control-label  col-sm-3" class="control-label  col-sm-2"></label>
      <div class="col-sm-9 form-element-group">
        <span class="help-block"></span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <input type='button' class="btn" id='signIn' value='Увійти' disabled='true'>
      </div>
    </div>


    <div id='fb-login-btn' class="login-form-list form-horizontal">
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false" onlogin="checkFBLoginState()"></div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <span>Хочете зареєструватись?</span>
        <input type='button' class="btn" id='signUp' value='Реєструватись'>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <span>Забули пароль?</span>
        <input type='button' class="btn" id='openRestorePasswordForm' value='Відновити пароль'>
      </div>
    </div>

  </div>

</div>


