<div class="form-group" id="login-form">


	<div class="login-form-list form-horizontal">

		<div class="form-group">
			 <label class="control-label  col-sm-3" class="control-label  col-sm-2" for="UserEmail">Ваш email:</label>
			<div class="col-sm-9 form-element-group">
				<input type='email' id='UserEmail' name='UserEmail' class="form-control">
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group">
			 <label class="control-label  col-sm-3" class="control-label  col-sm-2" for="Password">Ваш пароль:</label>
			<div class="col-sm-9 form-element-group">
				<input type='password' id='Password' name='Password' class="form-control">
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group">
			 <label class="control-label  col-sm-3" class="control-label  col-sm-2" for="ConfirmPassword">Повторіть Ваш пароль:</label>
			<div class="col-sm-9 form-element-group">
				<input type='password' id='ConfirmPassword' name='ConfirmPassword' class="form-control">
				<span class="help-block"></span>
			</div>
    </div> 

    <div class="form-group">
      <div id='captcha'></div>
			<span class="help-block"></span>
    </div>

		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<input type='button' class="btn" id='register' value='Зареєструватись'>
			</div>
    </div>

    
	</div>

</div>


