/* #Media Queries================================================== *//* iPad Portrait/Browser */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body #header span.site-desc {
	padding-left: 174px;
  }
  body #navigation ul li a {
    font-size: .9em;
  }
  body .su-column.su-column-size-1-4.agreement {
    width: 20%;
  }
  .img_div {
     width: auto;
     height: auto;
  }
  .div_deputy {
    width: auto;
    float:none;
  }
  body .su-column.su-column-size-1-4 ul {
    width: auto;
  }
  body #navigation ul {
    height: 38px;
  }

  #navigation ul li.menu-item-60 a {
    width: 193px;
  }

  #navigation ul li.menu-item-59 a {
    width: 182px;
  }

  #navigation ul li.menu-item-57 a {
    width: 187px;
  }

  #navigation ul li.menu-item-200 a {
    width: 183px;
  }

  #sidebar .widget-container {
    margin-left: 0px;
  }

  #respond textarea {
    width: auto;
  }

  #header .site-desc.text {
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 960px) and (max-width: 991px) {
  #navigation ul li.menu-item-60 a {
    width: 241px;
  }

  #navigation ul li.menu-item-59 a {
    width: 229px;
  }

  #navigation ul li.menu-item-57 a {
    width: 235px;
  }

  #navigation ul li.menu-item-200 a {
    width: 232px;
  }
   body #header span.site-desc {
     padding-left: 210px;
   }
}

/* Mobile/Browser */
@media only screen and (max-width: 767px) {
  body .su-column.su-column-size-1-4.agreement {
    width: 20%;
    border:0;
  }
  body .su-column.su-column-size-1-4 ul {
    border:0;
  }
  .agreements-navi {
    border-bottom: 0;
  }
  body .su-column.su-column-size-1-4.agreement .deputy_main, .su-column.su-column-size-1-4 ul li:hover {
    background: none;
  }

  .div_deputy {
    width: auto;
    float: none;
  }
  body .su-column.su-column-size-1-4 ul {
    width: auto;
  }
  .img_div {
    width: auto;
    height: auto;
  }

  #header .site-desc.text {
    font-size: 1.25em;
  }

  body #navigation {
    margin: 10px 0px;
  }

  body #navigation ul {
    min-height: 160px;
  }

  body #navigation ul, body #navigation ul li, body #navigation ul li a {
    float: none;
    background: transparent;
    border: none;
  }

  body #navigation ul li a {
    color: #333;
    border: none;
    padding: 2px 0;
    line-height: 150%;
    background: transparent;
    background-image: none;
    font-size: 18px;
  }

  body #navigation ul li.active a, body #navigation ul li a:hover, body #navigation ul li:hover a {
    color: #55a038;
    background: transparent;
    background-image: none;
  }

  /* Show on hover */  #respond textarea {
                         width: 300px;
                       }

  #wrap .products li, .products li.first, .products li.last {
    float: left;
    clear: both;
    margin: 20px 0px 20px 0px;
    width: 100%;
  }

  #breadcrumb {
    display: none;
  }

  #sidebar .widget-container {
    margin-left: 0px;
  }

  body #header span.site-desc {
    padding-left: 0px;
  }
   #lang_top select {
	margin-top:80px;
 }
}
@media only screen and (max-width: 479px) {
 #lang_top select {
	margin-top:132px;
 }
}


/* Mobile Landscape/Browser *//* Anything smaller than standard 960 */
@media only screen and (max-width: 959px) {
  body #header h1#site-title a {
    font-size: 32px;
  }

  body #header span.site-desc {
    display: block;
    margin-top: -5px;
    font-size: 12px !important;
    line-height: 1 !important;
  }
}


@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* iPad Portrait Only */
@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {
}

/* Mobile Only */
@media only screen and (max-width: 767px) and (max-device-width: 1000px) {
}

/* Mobile Landscape Only */
@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {
}

/* #Font-Face================================================== *//* 	This is the proper syntax for an @font-face file		Just create a "fonts" folder at the root,		copy your FontName into code below and remove		comment brackets *//*	@font-face {	    font-family: 'FontName';	    src: url('../fonts/FontName.eot');	    src: url('../fonts/FontName.eot?iefix') format('eot'),	         url('../fonts/FontName.woff') format('woff'),	         url('../fonts/FontName.ttf') format('truetype'),	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');	    font-weight: normal;	    font-style: normal; }*/
