<div id='email-form'>
	<ul class="email-form-list">
		<li>
			Введіть Ваш email:
			<input id='Email' name='Email'>
			<span class="help-block"></span>
		</li>
		<li>
			Введіть Ваше ім’я:
			<input id='Name' name='Name'>
			<span class="help-block"></span>
		</li>
		<li>
			Введіть Ваше призвище:
			<input id='Surname' name='Surname'>
			<span class="help-block"></span>
		</li>
		<li>
			Введіть Ваше ім’я по-батькові:
			<input id='Middle-name' name='Middle-name'>
			<span class="help-block"></span>
		</li>
		<li>
			Введіть Вашу адресу:
			<input id='Address1' name='Address1'>
			<span class="help-block"></span>
		</li>
		<li>
			
			<input id='Address2' name='Address2'>
			<span class="help-block"></span>
		</li>
		<li>
			Місто:
			<input id='City' name='City'>
			<span class="help-block"></span>
		</li>
		<li>
			Область:
			<input id='Area' name='Area'>
			<span class="help-block"></span>
		</li>
		<li>
			Поштовий індекс:
			<input id='Zip-code' name='Zip-code'>
			<span class="help-block"></span>
		</li>
		<li>
			Країна:
			<input id='Country' name='Country'>
			<span class="help-block"></span>
		</li>
	</ul>
	<p>
		<input type='button' id='vote-with-email' value='Проголосувати' >
	</p>
</div>
