<div class="form-group" id='email-form'>
  <div class="email-form-list form-horizontal">
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9 form-element-group">
        Ваш email: <%=this.model.get('Signer').get('Email')%>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9 form-element-group">
        ПІБ: <%=this.model.get('Signer').get('LastName')%>  <%=this.model.get('Signer').get('FirstName')%> <%=this.model.get('Signer').get('MiddleName')%>
      </div>
    </div>
    <%if( this.model.get('Signer').get('AddressLine1') || this.model.get('Signer').get('AddressLine2')){%>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9 form-element-group">
        Адреса: <%=this.model.get('Signer').get('AddressLine1')%> <%=this.model.get('Signer').get('AddressLine2')%>
      </div>
    </div>
    <%}%>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9 form-element-group">
        Місто: <%=this.model.get('Signer').get('City')%>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9 form-element-group">
        Область: <%=this.model.get('Signer').get('Region')%>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9 form-element-group">
        Країна: <%=this.model.get('Signer').get('Country')%>
      </div>
    </div>
    <%if( this.model.get('Signer').get('ZipCode') ){%>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9 form-element-group">
        Поштовий індекс: <%=this.model.get('Signer').get('ZipCode')%>
      </div>
    </div>
    <%}%>


    <div class="form-group form-element-group">
      <div id='captcha'></div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <input type='button' class="btn" id='vote-with-email' value='Проголосувати' >
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <input type='button' class="btn" id='update-user-profile' value='Змінити особисті дані' >
      </div>
    </div>

  </div>
</div>
