/*
 * Stylesheet for e-democracy petition widget
 */
 .enarod-pet-container {
  float:left;
  margin-right:30px;
  margin-top: 30px;
  background-color: #d9ffcb;
  padding: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: #6bbb4d;
}

.enarod-pet-container #petition-header {
  text-align:center;
}
.enarod-pet-container #petition-header .petition-header-inner {
  display:inline-block;
}
.enarod-pet-container #petition-header .petition-header-inner h2 {
  margin: 3px 20px 3px 20px;
}
.enarod-pet-container .enarod-pet-container {
  float:left;
  margin-right:30px;
  margin-top: 30px;
}
.enarod-pet-container .enarod-pet-w-lg {
  width: 800px;
  height: 210px;
}
.enarod-pet-container .enarod-pet-w-sm {
  width: 480px;
  height: 180px;
}
.enarod-pet-container .enarod-pet-w-smp {
  width:300px;
}

.enarod-pet-w-lg {
  width: 800px;
  height: 210px;
}
.enarod-pet-w-sm {
  width: 480px;
  height: 180px;
}

.enarod-pet-w-smp {
  width:300px;
}

.enarod-pet-container .enarod-pet-w-smp #enarod-pet-footer p, .enarod-pet-container .enarod-pet-w-sm #enarod-pet-footer p  {
  float:left;
}
.enarod-pet-container .enarod-pet-w-smp #enarod-pet-footer {
  clear:both;
}
.enarod-pet-container .code-snippet {
  float:right;
  width:30%;
  margin-top:30px;
}
.enarod-pet-container .code-snippet code {
  font-size:8px;
}

.enarod-pet-container .enarod-pet-subject a {
  color: #333;
  font-weight:bold;
  font-size:16px;
}

.enarod-pet-container .enarod-pet-text {
  height:100px;
}

.enarod-pet-container #enarod-pet-partner-logo {
  float:left;
  margin-right:20px;
}
.enarod-pet-container .enarod-pet-w-lg  #enarod-pet-partner-logo img {
  width:188px;
}
.enarod-pet-container .enarod-pet-w-sm  #enarod-pet-partner-logo img {
    width: 150px;
}
.enarod-pet-container .enarod-pet-w-smp  #enarod-pet-partner-logo img {
   width: 120px;
}
.enarod-pet-container #enarod-pet-time {
  margin-top: 12px;
  color: #999;
  font-size: 10px;
  display: block;
  margin-right: 10px;
  float: left;
}
.enarod-pet-container #enarod-pet-time span {
  font-size: 22px;
}
.enarod-pet-container #enarod-pet-votes-collected {
  color: #55a039;
  margin-bottom: 3px;
  display:inline-block;
  margin-right:5px;
}
.enarod-pet-container #enarod-pet-votes-collected span {
  font-size:8px;
  display:block;
}
.enarod-pet-container #enarod-pet-votes-collected .enarod-pet-votes-collected-number {
  font-size: 22px;
  text-align:center;
}
.enarod-pet-container #enarod-pet-votes-left {
  margin: 3px 0 3px 0;
  color: #aa1a09;
  display: inline-block;
  margin-right:5px;
}
.enarod-pet-container #enarod-pet-votes-left span {
  font-size: 8px;
  margin: 0;
  display:block;
}
.enarod-pet-container #enarod-pet-votes-left .enarod-pet-votes-left-number {
  font-size: 18px;
  text-align:center;
}
.enarod-pet-container .petition-widget .enarod-pet-footer a {
  display:block;
  float:right;
  margin-top:2px;
}
.petition-container .enarod-pet-footer img {
  width:65px;
}
.petition-container  .enarod-pet-footer p {
  font-size: 14px;
}
