<div id='organization-details'>

  <div id='organization-name'>
    <h1>• <%=Name%> •</h1>
  </div>

  <div id="organization-wrapper-left">
   <div id='organization-logo'>
		<img src='<%=Logo%>'/>
   </div>
    <div id='organization-description'>
		<%=Description%> 
    </div>
  </div>

  <div id="organization-wrapper-right">
    <div id='preliminary-voting-days'>
      Кількість днів для попереднього збору підписів - <span class="number"><%=PreliminaryGatheringDays%></span>
    </div>
    <div id='preliminary-vote-count'>
		Кількість попередньо зібраних підписів - <span class="number"><%=PreliminaryVoteCount%></span>
    </div>
    <div id='voting-days'>
      Кількість днів для збору підписів - <span class="number"><%=GatheringDays%></span>
    </div>
    <div id='vote-count'>
      Загальна кількість підписів - <span class="number"><%=VoteCount%></span>
    </div>
    <div id="organization-buttons">
<!--
    <a class="create-petition-btn" href="#petition/new/<%=ID%>">Створити петицію</a>
    <a class="create-petition-btn" href="#petition/search/Text=&OrganizationID=<%=ID%>">Показати петиції</a>
-->
	<button class='search-for-petition' id='create-petition'>Створити петицію</button>
	<button class='search-for-petition' id='list-petitions'>Показати петиції</button>
<!--
    <button id="show-all-petitions" class="search-for-petition">Показати петиції</button>
-->
    </div>
    <div id='petition-acceptance-policy'>
      <%=AcceptancePolicy%> 
    </div>
  </div>
</div>
