<div id='organization-details'>
   <div id='organization-logo'>
		<img src='<%=Logo%>'/>
   </div>

    <div id='organization-name'>
		<h1><%=Name%></h1>
    </div>

    <div id='organization-details'>
		<%=Description%>			
    </div>


    <div id='petition-acceptance-policy'>
		<%=AcceptancePolicy%>
    </div>


    <div id='preliminary-voting-days'>
		<%=PreliminaryGatheringDays%>
    </div>

    <div id='preliminary-vote-count'>
		<%=PreliminaryVoteCount%>
    </div>

    
    <div id='voting-days'>
		<%=GatheringDays%>
    </div>


    <div id='vote-count'>
		<%=VoteCount%>
    </div>
</div>
