<div class='organization-item-in-petition'>
  <h3><%=Name%></h3>
   <div class='organization-logo'>
		<img src='<%=Logo%>'/>
   </div>

    <div class='organization-details'>

      <div class="organization-block">
      <div id='voting-days'>
        Кількість днів для збору підписів - <span class="number"><%=GatheringDays%></span>
      </div>
      <div id='vote-count'>
        Необхідна кількість підписів - <span class="number"><%=VoteCount%></span>
      </div>
      </div>

      <div class="organization-block" id='petition-acceptance-policy'>
		<% var policy = ( AcceptancePolicy ? AcceptancePolicy.substring(1,500) : '' ); %>
        <%=policy%> <a href="./#organization/<%=ID%>">Детальніше</a>
      </div>

      <div class="organization-block">
        <div id="organization-petition-author">Автор петиції</div>
        <div class="organization-petition-contact">Країна</div>
        <div class="organization-petition-contact">Область</div>
        <div class="organization-petition-contact">Місто</div>
        <div class="organization-petition-contact">Адреса 1</div>
        <div class="organization-petition-contact">Адреса 2</div>
      </div>
    </div>
</div>
